@import "tailwindcss";
@import "flowbite/src/themes/default";

@font-face {
  font-family: "Road Rage";
  src:
    url("/fonts/RoadRage-Regular.woff2") format("woff2"),
    url("/fonts/RoadRage-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jeju";
  src:
    url("/fonts/JejuMyeongjo-Regular.woff2") format("woff2"),
    url("/fonts/JejuMyeongjo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-rage: "Road Rage", serif;
  --font-roboto: "Roboto", serif;
  --font-jeju: "Jeju", serif;
  --breakpoint-xs: 300px;
  --breakpoint-i13: 350px;
  --breakpoint-i14: 400px;
  --breakpoint-i14p: 440px;
  --color-whitish: #fafafa;
  --color-blackish: #0a0c11;
  --color-greenish: #197686;
  --color-greyish: #b3b3b3;
  --color-blackygreen: #07373f;
  --color-blackergreen: #052228;
  --color-bgGreen: #0e464f;
  --color-subGreen: #24a0b5;
  --color-LightGreen: #08252b;
  --color-lighterGreen: #12464e;
  --color-greenishbright: #08343c;
  --color-greenishBorder: #133d44;
  --color-greenHover: #2c545b;
  --color-bgGreener: #041e23;
  --color-hiddenBg: rgba(0, 0, 0, 0.2);
}

body {
  background-color: #02191d;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
}

.title-container {
  background:
    radial-gradient(
      57.42% 106.59% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
}

.onhover {
  box-sizing: border-box;
}

.onHover:hover {
  background: var(--color-subGreen);
  color: white;

  img {
    transform: rotate(-45deg);
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
}
