@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
  font-family: "Road Rage";
  src:
    url("/fonts/RoadRage-Regular.woff2") format("woff2"),
    url("/fonts/RoadRage-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jeju";
  src:
    url("/fonts/JejuMyeongjo-Regular.woff2") format("woff2"),
    url("/fonts/JejuMyeongjo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-rage: "Road Rage", serif;
  --font-roboto: "Roboto", serif;
  --font-jeju: "Jeju", serif;
  --breakpoint-xs: 300px;
  --color-whitish: #fafafa;
  --color-blackish: #0a0c11;
  --color-greenish: #197686;
  --color-greyish: #b3b3b3;
  --color-blackygreen: #07373f;
  --color-blackergreen: #052228;
  --color-bgGreen: #0e464f;
  --color-subGreen: #24a0b5;
  --color-LightGreen: #08252b;
  --color-lighterGreen: #12464e;
  --color-greenishbright: #08343c;
  --color-greenishBorder: #133d44;
  --color-greenHover: #2c545b;
  --color-bgGreener: #041e23;
}

body {
  background-color: #02191d;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.title-container {
  background:
    radial-gradient(
      57.42% 106.59% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
}

/* .title-container {
  border-radius: 24px;
  border-right: 2px solid #07373f;
  border-bottom: 2px solid #07373f;
  border-left: 2px solid #07373f;
  background:
    radial-gradient(
      57.42% 106.59% at 14.02% 32.06%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%
    ),
    rgba(10, 12, 17, 0.1);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
} */

.glow {
  position: absolute;
  bottom: -37vw;
  width: 110vw;
  height: 100vh;
  border-radius: 50%;
  transform: translateX(-5%);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 10%,
    transparent 100%
  );
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.circle {
  width: 30px;
  height: 30px;
  border: var(--color-subGreen) solid 1px;
  border-radius: 50%;
  background: var(--color-LightGreen);
}

.left.top.circle {
  top: -10px;
  left: -10px;
  border-left-color: transparent;
  border-top-color: transparent;
}

.left.top.circle::before {
  content: "";
  width: 10px;
  height: 7px;
  background: var(--color-LightGreenGreen);
  position: absolute;
  right: -9.8px;
  top: 9px;
  border-top-left-radius: 10px;
  border-left: solid 1px var(--color-subGreen);
  border-top: solid 1px var(--color-subGreen);
  border-bottom-right-radius: 50%;
  border-right: transparent;
  box-shadow: -2px -2px var(--color-LightGreen);
}

.left.top.circle::after {
  content: "";
  width: 10px;
  height: 7px;
  background: transparent;
  position: absolute;
  left: 9px;
  bottom: -7px;
  border-top-left-radius: 20px;
  transform: rotate(-5deg);
  border-left: solid 1px var(--color-subGreen);
  border-top: solid 1px var(--color-subGreen);
  border-bottom-right-radius: 50%;
  border-right: transparent;
  box-shadow: -2px -2px var(--color-LightGreen);
}

.right.top {
  right: -10px;
  top: -10px;
}

.right.top.circle {
  border-right-color: transparent;
  border-top-color: transparent;
}

.right.top.circle::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: transparent;
  top: 9px;
  left: -9.35px;
  border-top: solid 1px var(--color-subGreen);
  border-right: solid 1px var(--color-subGreen);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px -1px var(--color-LightGreen);
}

.right.top.circle::after {
  content: "";
  width: 10px;
  height: 7px;
  background: var(--color-LightGreen);
  position: absolute;
  right: 10px;
  bottom: -7px;
  border-top-right-radius: 10px;
  /* transform: rotate(20deg); */
  border-right: solid 1px var(--color-subGreen);
  border-top: solid 1px var(--color-subGreen);
  border-bottom-right-radius: 50%;
  border-right: transparent;
  /* box-shadow: -2px -2px var(--color-LightGreen); */
}

.left.mid.circle {
  left: -35px;
  bottom: -13px;
}

.right.mid.circle {
  right: -35px;
  bottom: -13px;
}

.left.bottom.circle {
  bottom: -12px;
  left: -13px;
}

.right.bottom.circle {
  bottom: -12px;
  right: -13px;
}

/* .left.top.circle {
  left: -11px;
  border-left-color: transparent;
  border-top-color: transparent;
}

.left.top.circle::before {
  width: 10px;
  height: 10px;
  background: transparent;
  border: solid 1px var(--color-subGreen);
  border-right: transparent;
  border-bottom: transparent;
  z-index: 10;
  content: "";
  position: absolute;
  right: -9px;
  top: 9px;
  border-top-left-radius: 10px;
  box-shadow: -7px 0px var(--color-LightGreen);
}

.left.top.circle::after {
  width: 10px;
  height: 10px;
  background: transparent;
  border: solid 1px var(--color-subGreen);
  border-right: transparent;
  border-bottom: transparent;
  z-index: 10;
  content: "";
  position: absolute;
  left: 10px;
  bottom: -9.3px;
  border-top-left-radius: 10px;
  box-shadow: -5px 0px var(--color-LightGreen);
}

.right.top.circle::before {
  width: 10px;
  height: 10px;
  background: transparent;
  border: solid 1px var(--color-subGreen);
  border-left: transparent;
  border-bottom: transparent;
  z-index: 10;
  content: "";
  position: absolute;
  left: -9px;
  top: 9px;
  border-top-right-radius: 10px;
  box-shadow: 3px -2px var(--color-LightGreen);
}

.right.top.circle::before {
  width: 10px;
  height: 10px;
  background: transparent;
  border: solid 1px var(--color-subGreen);
  border-left: transparent;
  border-bottom: transparent;
  z-index: 10;
  content: "";
  position: absolute;
  left: -9px;
  top: 9.1px;
  border-top-right-radius: 10px;
  box-shadow: 3px -2px var(--color-LightGreen);
}

.right.top.circle::after {
  width: 10px;
  height: 10px;
  background: transparent;
  border: solid 1px var(--color-subGreen);
  border-left: transparent;
  border-bottom: transparent;
  z-index: 10;
  content: "";
  position: absolute;
  right: 10px;
  bottom: -9px;
  border-top-right-radius: 10px;
  box-shadow: 3px -2px var(--color-LightGreen);
}

.right.top.circle {
  right: -12px;
} */
